/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,::before,::after{
    box-sizing: border-box
}
.container{
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}
/*header*/
.header{
	width: 100%;
}
.container-header{
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
}
.navbar{
	display: flex;
}
:root {
	--theme-color: rgb(247, 148, 30);
	--theme-color-2: rgb(241, 241, 242);
	--color: #fff;
	--color-2: #000;
  }
  /* header start  */
  .header {
	padding: 35px;
  }
  .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .nav > li{
	margin-right: 30px;
  }
  .nav a {
	transition: 0.3s;
	font-size: 18px;
  }
  .nav a:hover {
	color: var(--theme-color);
  }
  
  .gift-btn {
	background-color: transparent;
	color: var(--theme-color);
	border: 1px solid var(--theme-color);
	transition: 0.3s;
  }
  /* header end  */
  /* hero start  */
  .hero {
	background-color: var(--theme-color-2);
  }
  .hero-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .hero-row.reverse{
	flex-direction: row-reverse;
  }
  .hero-content {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .hero-content>div{
	width: 430px;
  }
  .hero-img{
	width: 50%;
	height: auto;
	object-fit: cover;
  }
  .hero-title-top {
	font-size: 56px;
	line-height: 1.4;
	margin-bottom: 35px;
  }
  .hero-top-btn {
	margin-top: 50px;
	color: var(--color);
	background-color: var(--theme-color);
	transition: 0.3s;
  }
  .hero-bottom-content {
	width: 440px;
	padding: 165px 166px 105px 833px;
  }
  .hero-bottom-btn {
	color: var(--theme-color);
	border: 1px solid var(--theme-color);
	margin-top: 35px;
	background-color: transparent;
	transition: 0.3s;
  }
  /* hero end  */






